@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  color: #1f2937;
}

input,
textarea {
  color: #1f2937;
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af;
}
